<?xml version="1.0" encoding="utf-8"?>
<!-- Solo en builds de debug: permite HTTP en claro hacia el backend local. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:usesCleartextTraffic="true"
        tools:targetApi="28" />
</manifest>
